[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "raxel/vendor/glfw"]
	path = raxel/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "raxel/vendor/cglm"]
	path = raxel/vendor/cglm
	url = https://github.com/recp/cglm.git
[submodule "raxel/vendor/vulkan-headers"]
	path = raxel/vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
